* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.hidden {
  display: none;
}

body {
  background-color: blue;
}

.startbutton {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 6rem;
  height: 2rem;
  cursor: pointer;
  color: blue;
}

.styleforbox {
  position: absolute;
  left: 32%;
  top: 35%;
  background-color: white;
  width: 25rem;
  height: 15rem;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-right: 2rem;
}

.styleforh3 {
  /* margin-bottom: 2rem; */
  height: 10%;
}

.rules {
  /* border-top: 2rem red; */
  height: 60%;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.twinbutton {
  display: flex;
  justify-content: end;
  gap: 0.5rem;
  height: 10%;
}

.twinone {
  width: 4rem;
  height: 1.5rem;
  cursor: pointer;
  color: blue;
  cursor: pointer;
}

.twintwo {
  width: 4.5rem;
  height: 1.5rem;
  cursor: pointer;
  color: white;
  background-color: blue;
  border-color: blue;
}

.twinone:hover {
  background-color: blue;
  color: white;
}

.styleforQuebox {
  position: absolute;
  left: 32%;
  top: 35%;
  background-color: white;
  width: 25rem;
  height: 20rem;
  padding-left: 1.5rem;
  padding-top: 1rem;
  padding-right: 1.5rem;
}

.styleforfirstQueh3 {
  height: 15%;
}

.styleforsecondQueh3 {
  height: 13%;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 60%;
}

.options-paragraph {
  border: 0.1rem solid lightblue;
  padding: 0.2rem;
  height: 1.6rem;
  background-color: rgb(188, 228, 241);
}

.options p {
  margin-left: 0.8rem;
}

.options-paragraph:hover {
  background-color: rgb(131, 212, 239);
}

.pagenumber {
  display: flex;
  justify-content: space-between;
}
